@charset "utf-8";

body {
    background-color: beige;
}

.box{
    position: absolute;

    top: 50%;
    left: 50%;

    text-align: center;

    transform: translate(-50%,-50%);
    font-family: 'Vardana','Hiragino Sans','Meiryo',sans-serif;

    font-size: 40px;
}